/**
 *
 * Elevator Algorithms
 * Stylesheet
 *
 * @author Andy Shora
 *
**/

@import "_vars";
@import "_normalize";
@import "_breakpoints";
@import "_utils";
@import "_layout";
@import "_typography";

/*
  Vendor Styles
-----------------------------------------------------------------------*
 */

// @import "vendor/_prism";

/*
  Component Styles
-----------------------------------------------------------------------*
 */
// @import "components/_button";

.controls {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

button {
  border: 1px solid #ecf469;
  background: black;
  padding: 10px 15px;
  color: $bright1;
}
